// *{
//   width: 100%;
//   height: auto;
//   box-sizing: border-box;
// }

// .mat-elevation-z8 .mat-header-cell,
// .mat-elevation-z8 .mat-cell {
//   flex: 1; /* Tamanhos iguais para todas as colunas */
//   text-align: center; /* Alinha o conteúdo ao centro */
// }

.container{
  max-width: 80%;
  margin: 2em auto;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-table {
  width: 100%;

}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.tabela{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: auto;
  max-height: 850px;

}

.tabela::-webkit-scrollbar {
    width: 8px; /* Define a largura da barra de rolagem */
}

.tabela::-webkit-scrollbar-track {
    background: #3c3e3d; /* Cor de fundo da trilha */
    border-radius: 8px;
}

.tabela::-webkit-scrollbar-thumb {
    background: #888; /* Cor do botão de rolagem */
    border-radius: 8px;
}

.tabela::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor ao passar o mouse */
}







.header-actions, .cell-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.titulo-container{
  display: flex; justify-content: center; align-items: center;
}


.delete-btn{
  color: rgb(154, 30, 30);
}
.edit-btn{
  color:rgb(105, 105, 151)
}

th{
  border:1px solid rgba(240, 248, 255, 0.114);
  color: #1fb37f;
}


.loading-spinner{
  padding: 10px;
  background-color: #cccccc1d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    color: rgb(164, 154, 154);
  }
}






//   @media screen and (min-width:1100px) {
//     mat-card{
//       width: 900px;

//     }

//     .container{
//       display: flex;
//       justify-content: center;
//     }

//   }
